<h1>トレーナー一覧</h1>

<% @users.each do |user| %>

<li>トレーナー氏名：<%= user.name %>さん</li>
<li>資格：<%= user.trainer.license %></li>
<li>経験：<%= user.trainer.experience %>年</li>
<li>所属：<%= user.trainer.belongs %></li>

<% end %>

