		<div id="wrapper">
			<div id="header" class="content-block">
			<%# <%= image_tag '/FitNext-logo.png', id:"header" %>
				<section class="center">
					<div class="slogan">
						生涯現役
					</div>
					<div class="secondary-slogan">
						私たちは、皆様の健康寿命を延ばします
					</div>
				</section>
			</div><!-- header -->
			<!-- About us -->
				<div id="about" class="about-us">
					<div class="container about-sec">
						<header class="block-heading cleafix">
							<div class="title-page">
								<p class="main-header">経営理念</p>
								<p class="sub-header">私たちについて</p>
							</div>
								</header>
									<div class="divide50"></div>
										<div class="row">
											<div class="col-md-4 text-center">
												<div class="aboutus-item">
														<i class="aboutus-icon fa fa-play"></i>
														<h4 class="aboutus-title">MISSION</h4>
														<p class="aboutus-desc">高齢者という概念をなくす</p>
												</div>
											</div>
											<div class="col-md-4 text-center">
												<div class="aboutus-item">
														<i class="aboutus-icon fa fa-forward"></i>
														<h4 class="aboutus-title">VISION</h4>
														<p class="aboutus-desc">高齢者とその家族・親族が、生涯健康で笑顔溢れる世界を創る</p>
												</div>
											</div>
											<div class="col-md-4 text-center">
												<div class="aboutus-item">
														<i class="aboutus-icon fa fa-fast-forward"></i>
														<h4 class="aboutus-title">VALUE</h4>
														<p class="aboutus-desc">1.お客様にとっての第二の家族になる</p>
														<p class="aboutus-desc">2.高齢者とその家族・親族の10年先を豊かにする</p>
														<p class="aboutus-desc">3."心""体"に最適なサービスを提供する</p>
												</div>
											</div>
										</div>
									</div>
					</div>
				</div>
			</div><!-- #portfolio -->
			<div class="content-block" id="blog">
				<div class="container blog-sec">
					<header class="block-heading cleafix">
						<a href="#" class="btn btn-o btn-lg pull-right">画面上部へ</a>
						<div class="title-page">
							<p class="main-header">スタッフ紹介</p>
						  <p class="sub-header">FitNext創設メンバー</p>
						</div>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-4 blog-post">
								<img src="assets/images/masato4.jpg">
								<a href="#"><h2>高齢者とその家族・親族を笑顔で包みたい！</h2></a>
								<div class="date">川北 雅冬</div>
								<p>昨年から90歳の祖母とフィットネスを開始。曲がってしまった背筋は伸び、以前よりも自由に体を動かせるようになりました。その時祖母が流した"嬉し涙"を見て、一念発起。仕事を辞め、ゼロからプログラミングを学び、FitNextの開発に力を注いできました。「高齢者が、気軽に運動できる環境を整えたい！」「高齢者の健康寿命を延ばし、高齢者とその家族・親族が幸せに生活するお手伝いをしたい！」との思いから本アプリケーションを開発しました。</p>
							</div>
							<div class="col-sm-4 blog-post">
								<img src="assets/images/sakura.png">
								<a href="#"><h2>"安く、楽しく、正しく、長く"をモットーに！</h2></a>
								<div class="date">長谷川 さくら</div>
								<p>普通のスポーツジムと違いマンツーマンで行うパーソナルトレーニングは費用も高く、"続けたいんだけど経済的に厳しい"というお客様もたくさんいらっしゃいました。そういった現状を目の当たりにし、パーソナルトレーニングでなくても、お客様に正しいトレーニングを指導させてもらえる環境を作りたいと思っています。1人でも多くのお客様に、この合言葉を実感して頂けるよう全力を尽くします。</p>
							</div>
							<div class="col-sm-4 blog-post">
								<img src="assets/images/sakura.kai.png">
								<a href="#"><h2>幸せになるお手伝いを！</h2></a>
								<div class="date">長谷川 海</div>
								<p>健康である事の喜びは、普段は中々気づかないものです。また、自分のなりたい身体になれば自信が持て、人生も豊かになります。適度に、頑張りすぎずに生活の一部として身体を動かすことが組み込める様に、トレーニングの楽しさが伝えられる存在になりたいです。科学的根拠に基づきトレーニングを指導させていただき、皆様の大切な時間を最大限効率化させるお手伝いをさせていただきます。</p>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #blog -->
			<div class="content-block parallax" id="parallax">
				<div class="container">
					<h3 class="call-action pull-left">FitNextを体験してみませんか？</h3>
					<a href="/users/sign_up" class="pull-right btn btn-o-white btn-lg">会員登録はこちらから</a>
				</div>
			</div><!-- #parallax -->
			<div class="content-block" id="footer">
				<div class="container">
					<div class="row">
							<div class="col-sm-4 blog-post">
								<h2 class="footer-block">お問い合わせ</h2>
								<p>FitNextについて知りたいことや疑問など、お気軽にお問い合わせください。</p>
								<p>
								</p>
								<p></p>
							</div>
							<div class="col-sm-4 blog-post">
								<h2 class="footer-block">お問い合わせフォーム<br />(現在閉鎖中）</h2>
								<form action="contact-form.php" id="contactForm" method="post" name="contactform" class="" role="form">
									<div class="form-group">
								  	<input type="text" class="form-control form-control-white" id="name" name="name" placeholder="氏名" required>
								  </div>
								  <div class="form-group">
								  	<input type="email" class="form-control form-control-white" id="email" name="email" placeholder="メールアドレス" required>
								  </div>
								  <div class="form-group">
								  	<textarea class="form-control form-control-white" id="message" name="massage" placeholder="お問い合わせ内容" required></textarea>
								  </div>
								    <div id="contactFormResponse"></div>
								    <div class="form-group">
								    	<input type="submit" id="cfsubmit" class="text-center btn btn-o-white" value="送信">
								  	</div>
								</form>
							</div>
							<div class="col-sm-4 blog-post">
								<h2 class="footer-block">詳細</h2>
								<ul>
									<li class="address-sub"><i class="fa fa-map-marker"></i>所在地</li>
										<p>
                      準備中
										</p>
									<li class="address-sub"><i class="fa fa-phone"></i>電話番号</li>
										<p>
										準備中<br>
										</p>
									<li class="address-sub"><i class="fa fa-envelope-o"></i>Email Address</li>
										<p>
											<a href="#">準備中</a><br>
											<a href="#">準備中</a>
										</p>
								</ul>
								<div class="social">
									<a href="https://twitter.com/home" target="_blank"><i class="fa fa-twitter"></i></a>
									<a href="https://ja-jp.facebook.com/login/" target="_blank" ><i class="fa fa-facebook"></i></a>
									<a href="https://www.instagram.com/accounts/login/?hl=ja" target="_blank" ><i class="fa fa-instagram"></i></a>
									<a href="https://www.pinterest.jp/" target="_blank"><i class="fa fa-pinterest-p"></i></a>
									<a href="https://aboutme.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
									<a href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=13&ct=1566577494&rver=7.1.6819.0&wp=MBI_SSL&wreply=https%3A%2F%2Flw.skype.com%2Flogin%2Foauth%2Fproxy%3Fclient_id%3D572381%26redirect_uri%3Dhttps%253A%252F%252Fweb.skype.com%252FAuth%252FPostHandler%26state%3Df14b8b14-3c70-4e58-9d29-c90fbb66b79b%26site_name%3Dlw.skype.com&lc=1033&id=293290&mkt=ja-JP&psi=skype&lw=1&cobrandid=2befc4b5-19e3-46e8-8347-77317a16a5a5&client_flight=ReservedFlight33%2CReservedFlight67" target="_blank"><i class="fa fa-skype"></i></a>
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="content-block footer-bottom" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-6">&copy; Copyright FitNext 2019</div>
						<%# <div class="col-xs-6 text-right">Theme by <a href="http://www.themewagon.com/" target="_blink">ThemeWagon</a></div> %>
					</div>
				</div>
			</div><!-- #footer -->
		</div><!--/#wrapper-->
		<script src="assets/js/jquery-2.1.3.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/jquery.actual.min.js"></script>
		<script src="assets/js/jquery.scrollTo.min.js"></script>
		<script src="assets/js/contact.js"></script>
		<script src="assets/js/script.js"></script>
		<script src="assets/js/smoothscroll.js"></script>
		<script type="text/javascript">
		jQuery(document).ready(function($){
		  	$(window).scroll(function() {
				if ($(window).scrollTop() > 100 ){
		 		$('.top-header').addClass('shows');
		  		} else {
		   	 	$('.top-header').removeClass('shows');
		 		};
			});
		  });
		jQuery('.scroll').on('click', function(e){
				e.preventDefault()
		  jQuery('html, body').animate({
		      scrollTop : jQuery(this.hash).offset().top
		    }, 1500);
    });
		</script>
