<div id="wrapper">
			<%# <div>
			  <%= image_tag 'images/homes_show.png',id:"header2",class:"content-block"%>
				<%# <section class="center">
					<div class="slogan">
						FitNextは、<br />
						高齢者向けトレーニングサービスです
					</div>
					<div class="secondary-slogan">
					</div>
				</section> %>
			</div><!-- header -->
			<!-- About us -->
				<div id="about" class="about-us">
					<div class="container about-sec">
						<header class="block-heading cleafix">
							<div class="title-page">
								<p class="main-header">利用手順</p>
								<p class="sub-header">トレーニングまでの流れ</p>
							</div>
								</header>
									<div class="divide50"></div>
										<div class="row">
											<div class="col-md-4 text-center">
												<div class="aboutus-item">
														<i class="aboutus-icon fas fa-search"></i>
														<h4 class="aboutus-title">１.トレーナーを探す</h4>
														<p class="aboutus-desc">経験豊富なトレーナーをお探しいただけます</p>
												</div>
											</div>
											<div class="col-md-4 text-center">
												<div class="aboutus-item">
														<i class="aboutus-icon far fa-calendar-alt"></i>
														<h4 class="aboutus-title">２.日程を調整する</h4>
														<p class="aboutus-desc">希望するトレーナーと日程調整を行います</p>
												</div>
											</div>
											<div class="col-md-4 text-center">
												<div class="aboutus-item">
														<i class="aboutus-icon fas fa-tv"></i>
														<h4 class="aboutus-title">３.トレーニングを受ける</h4>
														<p class="aboutus-desc">楽しく運動し、素敵な汗を流しましょう</p>
												</div>
											</div>
										</div>
									</div>
					</div>
				</div>
	        <!-- /About us -->
			<div class="content-block" id="portfolio">
				<div class="container portfolio-sec">
					<header class="block-heading cleafix">
						<a href="#" class="btn btn-o btn-lg pull-right">画面上部へ</a>
						<div class="title-page">
							<p class="main-header">レッスン風景</p>
						  <p class="sub-header">オンラインレッスンの一コマ</p>
					  </div>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-4">
								<a class="recent-work" style="background-image:url(/assets/images/sakura.demo.jpg)">
									<%# <span class="btn btn-o-white"></span> %>
								</a>
							</div>
							<div class="col-sm-4">
								<a class="recent-work" style="background-image:url(/assets/images/sakura.demo3.png)">
									<%# <span class="btn btn-o-white">Lorem Rocks</%#> %>
								</a>
							</div>
							<div class="col-sm-4">
								<a class="recent-work" style="background-image:url(/assets/images/demo.aomori2.JPG)">
									<%# <span class="btn btn-o-white">Lorem Rocks</%#> %>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<a class="recent-work" style="background-image:url(/assets/images/sakura.demo2.png)">
									<%# <span class="btn btn-o-white">sample</span> %>
								</a>
							</div>
							<div class="col-sm-4">
								<a class="recent-work" style="background-image:url(/assets/images/demo4.png)">
									<%# <span class="btn btn-o-white">Lorem Rocks</%#> %>
								</a>
							</div>
							<div class="col-sm-4">
								<a class="recent-work" style="background-image:url(/assets/images/demo.png)">
									<%# <span class="btn btn-o-white">Lorem Rocks</%#> %>
								</a>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #portfolio -->
			<div class="content-block parallax" id="services">
				<div class="container services-sec">
					<div class="title-page">
						<p class="main-header">サービス概要</p>
					  <p class="sub-header">FitNextが提供するサービス</p>
					</div>
					<section class="block-body">
						<div class="row">
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-heart-o"></i>
									</div>
									<h2 class="service-head">一人一人に最適なメニュー</h2>
									<p>カウンセリングを通して、お客様の要望や症状に合ったメニューを提供します</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-heart"></i>
									</div>
									<h2 class="service-head">運動の習慣化</h2>
									<p>「楽しく・短く・支え合う」をもっとうにしたサービスにより、運動の習慣化を促します</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-heartbeat"></i>
									</div>
									<h2 class="service-head">健康寿命を伸ばします</h2>
									<p>有資格フィットネストレーナーによる１対１の指導により、心身の健康増進に寄与します</p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #services -->
			<div class="content-block parallax" id="parallax">
				<div class="container">
					<h3 class="call-action pull-left">FitNextを体験してみませんか？</h3>
					<a href="/users/sign_up" class="pull-right btn btn-o-white btn-lg">会員登録はこちらから</a>
				</div>
			</div><!-- #parallax -->
			<div class="content-block" id="testimonials">
				<div class="container testimonial-sec">
					<header class="block-heading cleafix">
						<div class="title-page  pull-left">
							<p class="main-header">お客様の声</p>
						  <p class="sub-header">多くの方から喜びの声が届いています</p>
						</div>
					</header>
          <section class="block-body">
						<div class="row">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-example-generic" data-slide-to="1"></li>
									<li data-target="#carousel-example-generic" data-slide-to="2"></li>
								</ol><!-- /.carousel-indicators -->
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
											<div class="img-center">
												<img class="img-circle circular-img" src="/assets/images/sobo2.JPG">
											</div>
											<h3>
												90代女性：トレーナーさんが優しくて安心しました。久しぶりに楽しく体を動かすことができました。
											</h3>
									</div><!-- /.item -->
									<div class="item">
										<div class="img-center">
												<img class="img-circle circular-img" src="/assets/images/user3.jpg" >
											</div>
											<h3>
												60代男性：限りなく対面に近く、運動量も多く、久しぶりに汗を流すことができてよかったです。
											</h3>
									</div><!-- /.item -->
									<div class="item">
										<div class="img-center">
												<img class="img-circle circular-img" src="/assets/images/no_avatar.png">
											</div>
											<h3>
											  70代女性：日常的な動作の重要性に気づくことができました。
											</h3>
									</div><!-- /.item -->
								</div><!-- /.carousel-inner -->
							</div><!-- /.carousel slide -->
						</div>
					</section><!-- /.block-body -->
			</div><!-- /#testimonials -->
		</div><!--/#wrapper-->
		<script src="assets/js/jquery-2.1.3.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/jquery.actual.min.js"></script>
		<script src="assets/js/jquery.scrollTo.min.js"></script>
		<script src="assets/js/contact.js"></script>
		<script src="assets/js/script.js"></script>
		<script src="assets/js/smoothscroll.js"></script>
		<script type="text/javascript">
		jQuery(document).ready(function($){
		  	$(window).scroll(function() {
				if ($(window).scrollTop() > 100 ){
		 		$('.top-header').addClass('shows');
		  		} else {
		   	 	$('.top-header').removeClass('shows');
		 		};
			});
		  });
		jQuery('.scroll').on('click', function(e){
				e.preventDefault()
		  jQuery('html, body').animate({
		      scrollTop : jQuery(this.hash).offset().top
		    }, 1500);
    });
		</script>
