// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// メニューバーを画面サイズに応じて変更（mq-up:以上、mq-down:以下)
@import "./_layout";

.navbar-nav > a {
  @include mq-up(md) {
    display: inline;
    margin: 0 2px;
  }
  @include mq-down(md) {
    display: block;
  }
  width: 100%;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.header-logo {
  float: left;
  width: 240px;
  @include mq-down(xl) {
    width: 120px;
    margin: 0 12px;
  }
}

.header-logo-right {
  float: right;
}
.nav.navbar-nav.navbar-right {
  @include mq-down(md) {
    float: none;
    margin: 0 auto;
    width: 400px;
  }
  @include mq-down(sm) {
    float: none;
    margin: 0 auto;
    width: 340px;
  }
}
// ヘッダーボタン
 .btn-border-bottom {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #67c5ff;
  @include mq-down(md) {
    text-align: center !important;
    font-size: 12px !important;
    float: left !important;
    width: 90px !important;
    margin: 0 5px !important;
    padding: 0 !important;
  }
  @include mq-down(sm) {
    text-align: center !important;
    font-size: 4px !important;
    float: left !important;
    width: 70px !important;
    margin: 0 5px !important;
    padding: 0 !important;
  }
}

.btn-border-bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background: orangered;
  transition: .2s;
}

.btn-border-bottom:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}
