// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// メニューバーを画面サイズに応じて変更（mq-up:以上、mq-down:以下)
@import "./_layout";

.navbar-nav > a {
  @include mq-up(md) {
    display: inline;
    margin: 0 2px;
  }
  @include mq-down(md) {
    display: block;
  }
  width: 100%;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

