// Place all the styles related to the trainer_evaluations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.trainer-evaluations-table{
  padding-top:25%;
}

.trainer-evaluations-button{
  text-align:center;
}



.trainer-evaluations-container{
  padding-top:10%;
  padding-left: 10%;
  padding-right: 10%;
}

.btn btn-success:hover{
  background-color:white !important;
  border-color:white !important;
}
// FIXME:評価投稿ボタン　hover時の色を変えたい

.img-responsive-user{
  width: 80%;
  height: 80%;
  border-radius: 50%;
  object-fit: cover;
}

