// Place all the styles related to the trainers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トレーナー一覧カード
div.card {
  // width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.mx-auto {
  max-width: 540px;
  margin: 0 auto;
}